#PROVIDERS
CHAT_PROVIDER=OPENAI

## OPENAI CONFIG
OPENAI_API_KEY=your_api_key
OPENAI_COMPLETION_MODEL=gpt-5-mini
OPENAI_IMAGE_MODEL=gpt-image-1
OPENAI_TRANSCRIPTION_MODEL=gpt-4o-transcribe
OPENAI_SPEECH_MODEL=gpt-4o-mini-tts
OPENAI_SPEECH_VOICE=nova

## BOT CONFIG
PREFERRED_LANGUAGE=
BOT_NAME=Roboto
TRANSCRIPTION_LANGUAGE=en
MEMORIES_ENABLED=true

## FEATURES
IMAGE_CREATION_ENABLED=true
VOICE_MESSAGES_ENABLED=true

# You can use this to customize the default bot's personality and information (Or it can be customized using -chatconfig)
PROMPT_INFO="You are a friendly and informal assistant"